.App {
  margin: 30px;
}
button {
  background-color: white;
  border: 1px solid black;
}
textarea {
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
}
.notes-header h1 {
  display: inline-block;
  margin-right: 18px;
  font-weight: normal;
}
.notes {
  margin: 10px;
}
.notes div {
  display: inline-block;
}
.note-container {
  border: 1px solid black;
  position: relative;
  padding: 10px;
  margin: 0 25px 25px 0;
}
.note-button-delete {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  padding: 2px;
  right: -12px;
  top: -12px;
}